/* GLOBALES */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Plus+Jakarta+Sans:wght@800&display=swap');
*{
    box-sizing: border-box;
    font-family: Jost;
    color:rgb(43, 43, 43);
}

html, body{
    margin:0;
    padding: 0;
    background-color: #00ADB5;
}
.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}
/* HEADER */
header{
    background-color: #393E46;
}
.nav ul{
    margin:0;
}
.nav li{
 display:inline;
}
.nav a{
    color: #EEEEEE;
    padding:0.5em;
    text-decoration: none;
    display:inline-block;
}
.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}
.main-nav{
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main-nav li{
    padding: 0% 5% 0% 5%;
}
.nombre-banda{
    font-family: Plus Jakarta Sans;
    text-align: center;
    font-size: 4em;
    font-weight: normal;
    color: #EEEEEE;
}
.nombre-banda-grande{
    margin-top:0;
    margin-bottom: 0;
    font-size: 5em;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.btn-header{
    margin: 0px 10px 10px 10px;
    color:#EEEEEE;
    border: 2px solid #00ADB5;
    background-color: rgba(255, 255, 255, .1);
    font-size: 1.3em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-header:hover{
    background-color: rgba(255, 255, 255, .3);
}
.btn-play{
    color:#00ADB5;
    border-radius: 50%;
    padding: 0;
    font-size:1.5em;
    width:55.5px;
    height: 55.5px;
}
/* MAIN */
main{
    background-color: #00ADB5;
    padding: 10px;
}
.content-section{
    margin:1em;
}
.container{
    max-width: 900px;
    margin: 0% auto;
    padding: 0% 1.5em;
    font-size: 18px;
}
.section-header{
    font-family: Plus Jakarta Sans;
    font-weight: normal;
    color: rgb(15, 15, 15);
    text-align: center;
    font-size: 2.3em;
}
.logo{
    justify-content: center;
    display: flex;
}
.about-band-img{
    max-width:100%;
    margin: 0 auto;
}
.lista-concierto li{
    border-bottom: 1px solid black;
    list-style: none;
    padding-bottom: 1em;
    margin: 1em;
}
.lista-concierto li:last-child{
    border-bottom: none;
}
.tour-item{
    padding-right: .5em;
    display:inline-block;
}
.tour-date{
    color:rgb(31, 31, 31);
    font-weight: bold;
    width: 11%;
}
.tour-city{
    width: 24%;
}
.tour-arena{
    width:42%;
}
.tour-btn{
    max-width: 19%;
    background-color: #E83C4F;
    color:#EEEEEE;
    border:none;
    border-radius: .3em;
    font-weight: bold;
}
.tour-btn:hover{
    background-color: #cc3e4f;
}
.header-historia{
    font-size: 7em;
    margin: 10px 0px 10px 0px;
}
.card-title{
    font-family: Plus Jakarta Sans;
    color: rgb(15, 15, 15);
    font-size: 1.4em;
    text-align: center;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card img{
    width:300px;
    height: 300px;
}
.card{
    margin:auto;
}
.buy{
    text-align: center;
}
.buy span{
    font-weight: bold;
    margin-right: 20px;
}
.cart-header{
    font-weight: bold;
    font-size: 1.2em;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    margin-top:10px;
    padding-bottom: 10px;
}
.carrito{
    display: flex;
}
.cart-item{
    width: 45%;
}
.cart-price{
    width: 20%;
    font-size: 1.2em;
}
.cart-cantidad{
    width: 35%;
}
.cart-item-title{
    margin-left: .5em;
    font-size: 1.2em;
    font-weight: 500;
}
.cart-item-image{
    width: 75px;
    border-radius: 5px;
}
.btn-danger{
    max-width: 30%;
}
.cart-cantidad-input{
    height: 36.74px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #E83C4F;
    background-color: #EEEEEE;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-items{
    border-bottom: 1px solid black;
}
.compra:last-child .cart-column{
    border:none;
}
.total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 20px;
}
.cart-total-price{
    font-size: 1.1em;
}
.btn-compra{
    display: block;
    margin:40px auto 80px auto;
    font-size: 1.75em;
}
/* FOOTER */
footer{
    background-color: #393E46;
}
.main-footer{
    padding: 0.25em 0em 0.25em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-footer figure{
    align-items:center;
    display:flex;
}
.main-footer figure img{
    width: 50px;
}
